{% extends "base.html" %}

{% block head %}
    {{  super()  }}
    <link rel="stylesheet" href="/static/css/home.css">
		<link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

    <div id="page-breadcrumb" class="Guide">
      <h2 style="margin-left:60px; margin-bottom: 15px;">Automatic Segmentation</h2>
      <h4 style="margin-left:60px; "></h4>
    </div>


    <div class="parent" style="font-family: Lato;">



    <form name="Form" method="POST" >


      <button type="submit" onclick="back();" name="submit" value="success" class="btn btn-default"  style="border: none; margin-top:10px;
       background: #b3b3b3;color: white; margin-left: 300px;" onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">
       Switch Segmentation Option
     </button>

       <button type="submit" onclick="save();" class="btn btn-default" style="border: none; margin-top:10px;
        background: #b3b3b3;color: white; margin-left: 100px;" onmouseover="this.style.backgroundColor='#D29948';"onmouseout="this.style.backgroundColor='#b3b3b3';">
       Save and Download
      </button>




  </form>
  </div>


{% endblock %}

{% block footer %}
<script>
    function back(){
        document.Form.action='/seg';
        document.Form.submit();
    }
    function save(){

      document.Form.action='/downloadAuto';
      document.Form.submit();
    }

</script>



{% endblock %}
