
<!DOCTYPE html>
<html>
  <style>
    span { font-weight: 400;
    font-size:12px
    }
a {
  font-weight: 400;
  font-size: 20pt;

}

@media (min-width:992px) {
  .col-md-12 {
    width: 90%;
  }
}


  </style>
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.query-builder/2.3.3/js/query-builder.standalone.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://querybuilder.js.org/assets/css/style.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/css/query-builder.default.min.css" rel="stylesheet" />



    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.query-builder/2.3.3/js/query-builder.standalone.min.js'></script>


		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
		<title>Customer Segmentation</title>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/js/standalone/selectize.js"></script>

<link href="https://querybuilder.js.org/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="https://querybuilder.js.org/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="https://querybuilder.js.org/node_modules/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
<link href="https://querybuilder.js.org/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="https://querybuilder.js.org/node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="https://querybuilder.js.org/node_modules/jQuery-QueryBuilder/dist/css/query-builder.default.min.css" rel="stylesheet">
<link rel='stylesheet' href='https://sweetalert2.github.io/styles/bootstrap4-buttons.css'><link rel="stylesheet" href="./style.css">

<script src="https://querybuilder.js.org/node_modules/moment/min/moment.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/selectize/dist/js/standalone/selectize.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/sql-parser-mistic/browser/sql-parser.min.js"></script>
<script src="https://querybuilder.js.org/node_modules/interactjs/dist/interact.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@9'></script>
<script>var baseurl = 'https://querybuilder.js.org';</script>
<script src="https://querybuilder.js.org/assets/demo-basic.js"></script>
<script src="https://querybuilder.js.org/assets/demo-widgets.js"></script>
<script src="https://querybuilder.js.org/assets/demo-plugins.js"></script>
<script src="https://querybuilder.js.org/assets/demo-import-export.js"></script>
<script src="https://querybuilder.js.org/assets/demo.js"></script>

		<link rel="shortcut icon" href="#" />
		{% block scripts %}

		{% endblock %}

	</head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="http://127.0.0.1:5002/">Filter History</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link btn btn-default btn-sm" href="/"> <span> Create New Filter</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link btn btn-default btn-sm" href="/pastFilter"> <span>View Filter History</span></a>
        </li>
      </ul>
    </div>
  </nav>
    <div id="content">{% block content %}

    {% endblock %}</div>
    <div id="footer">
      {% block footer %}
    <a href="https://github.com/GideonCheruiyot"></a>.
      {% endblock %}
    </div>
  </body>
</html>
